<!-- <div class="box">
  <div class="dot left-dot valign-wrapper">
    <section class="black-center center-align"></section>
  </div>
</div> -->

<section>
  <div class="ship-section container">
    <div class="enterprise-box">
      <h6 class="ship-name">USS Enterprise</h6>
      <img class="enterprise-picture" src="src/images/enterprise.jpeg">
      <div class="crew-logs-box">
        <div class="rectangle yellow-border valign-wrapper center-align">
          <p class="center-align">Accessing Crew Logs<br>Please Wait</p>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<section>
  <div class="info-section container">
    <h1 class="idk">{{ lcarsCtrl.info }}</h1>
  </div>
</section>
